In [52]:
import numpy as np
import matplotlib as plt
import os
import csv
import pandas as pd
import json

In [9]:
# specify file directory
path = os. getcwd()
who_f = "../COVID-19/who_covid_19_situation_reports/who_covid_19_sit_rep_time_series/who_covid_19_sit_rep_time_series.csv"
csse_us = "../COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv"
csse_world = "../COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"

In [ ]:
def writejson(header,content,fname):
    newdict = dict()
    for i in range(len(header)):

In [75]:
df_who = pd.read_csv(who_f)
df_who.head(30)
df_who.fillna(0)
df_who.dtypes
df_who[["Province/States"]][1:50]
print(df_who.head(10))

# china: row 5 to 39
df_who_china = df_who.loc[5:39,:]
print(df_who_china.head(5))
df_who_country = df_who.loc[39:,:]

  Province/States    Country/Region              WHO region  1/21/2020  \
0       Confirmed          Globally                     NaN      282.0
1          Deaths          Globally                     NaN        NaN
2       Confirmed             China  Western Pacific Region      278.0
3       Confirmed  Outside of China                     NaN        4.0
4          Deaths             China  Western Pacific Region        NaN
5          Hubei              China  Western Pacific Region      258.0
6       Guangdong             China  Western Pacific Region       14.0
7           Henan             China  Western Pacific Region        NaN
8        Zhejiang             China  Western Pacific Region        NaN
9           Hunan             China  Western Pacific Region        NaN

   1/22/2020  1/23/2020  1/24/2020  1/25/2020  1/26/2020  1/27/2020  ...  \
0      314.0      581.0      846.0     1320.0     2014.0     2798.0  ...
1        NaN        NaN        NaN        NaN        NaN        NaN  ...
2      309.0      571.0      830.0     1297.0     1985.0     2741.0  ...
3        5.0       10.0       16.0       23.0       29.0       57.0  ...
4        NaN        NaN        NaN        NaN        NaN       80.0  ...
5      270.0      375.0      375.0        NaN        NaN        NaN  ...
6       17.0       26.0       32.0        NaN        NaN        NaN  ...
7        1.0        1.0        1.0        NaN        NaN        NaN  ...
8        5.0        5.0        5.0        NaN        NaN        NaN  ...
9        1.0        1.0        1.0        NaN        NaN        NaN  ...

   3/12/2020  3/13/2020  3/14/2020  3/15/2020  3/16/2020  3/17/2020  \
0   125048.0   132758.0   142539.0   153517.0   167515.0   179111.0
1        NaN        NaN        NaN        NaN        NaN     7426.0
2    80981.0    80991.0    81021.0    81048.0    81077.0    81116.0
3    44067.0    51767.0    61518.0    72469.0    86438.0    97995.0
4     3173.0     4955.0     3194.0     3204.0     3218.0     3231.0
5    67781.0    67786.0    67790.0    67794.0        NaN        NaN
6     1356.0     1356.0     1356.0     1357.0        NaN        NaN
7     1273.0     1273.0     1273.0     1273.0        NaN        NaN
8     1215.0     1215.0     1227.0     1231.0        NaN        NaN
9     1018.0     1018.0     1018.0     1018.0        NaN        NaN

   3/18/2020  3/19/2020  3/20/2020  3/21/2020
0   191127.0   209839.0   234073.0   266073.0
1     7807.0     8778.0     9840.0    11184.0
2    81116.0    81174.0    81300.0    81416.0
3   110011.0   128665.0   152773.0   184657.0
4     3231.0     3242.0     3253.0     3261.0
5        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN
7        NaN        NaN        NaN        NaN
8        NaN        NaN        NaN        NaN
9        NaN        NaN        NaN        NaN

[10 rows x 64 columns]
  Province/States Country/Region              WHO region  1/21/2020  \
5          Hubei           China  Western Pacific Region      258.0
6       Guangdong          China  Western Pacific Region       14.0
7           Henan          China  Western Pacific Region        NaN
8        Zhejiang          China  Western Pacific Region        NaN
9           Hunan          China  Western Pacific Region        NaN

   1/22/2020  1/23/2020  1/24/2020  1/25/2020  1/26/2020  1/27/2020  ...  \
5      270.0      375.0      375.0        NaN        NaN        NaN  ...
6       17.0       26.0       32.0        NaN        NaN        NaN  ...
7        1.0        1.0        1.0        NaN        NaN        NaN  ...
8        5.0        5.0        5.0        NaN        NaN        NaN  ...
9        1.0        1.0        1.0        NaN        NaN        NaN  ...

   3/12/2020  3/13/2020  3/14/2020  3/15/2020  3/16/2020  3/17/2020  \
5    67781.0    67786.0    67790.0    67794.0        NaN        NaN
6     1356.0     1356.0     1356.0     1357.0        NaN        NaN
7     1273.0     1273.0     1273.0     1273.0        NaN        NaN
8     1215.0     1215.0     1227.0     1231.0        NaN        NaN
9     1018.0     1018.0     1018.0     1018.0        NaN        NaN

   3/18/2020  3/19/2020  3/20/2020  3/21/2020
5        NaN        NaN        NaN        NaN
6        NaN        NaN        NaN        NaN
7        NaN        NaN        NaN        NaN
8        NaN        NaN        NaN        NaN
9        NaN        NaN        NaN        NaN

[5 rows x 64 columns]

In [55]:
df_us = pd.read_csv(csse_us)
print(df_us.shape) #(3253, 80)
df_us.head(5)
df_us.fillna(0)

type(df_us)
print(df_us.dtypes)
df_us_cleaned = df_us.loc[:,'1/22/2020':]
df_us_label = df_us.loc[:,"Combined_Key"]
df_us_cleaned.head(5)
df_us_label

len(df_us_label)

(3253, 80)
UID                 int64
iso2               object
iso3               object
code3               int64
FIPS              float64
Admin2             object
Province_State     object
Country_Region     object
Lat               float64
Long_             float64
Combined_Key       object
1/22/2020           int64
1/23/2020           int64
1/24/2020           int64
1/25/2020           int64
1/26/2020           int64
1/27/2020           int64
1/28/2020           int64
1/29/2020           int64
1/30/2020           int64
1/31/2020           int64
2/1/2020            int64
2/2/2020            int64
2/3/2020            int64
2/4/2020            int64
2/5/2020            int64
2/6/2020            int64
2/7/2020            int64
2/8/2020            int64
2/9/2020            int64
                   ...
3/1/2020            int64
3/2/2020            int64
3/3/2020            int64
3/4/2020            int64
3/5/2020            int64
3/6/2020            int64
3/7/2020            int64
3/8/2020            int64
3/9/2020            int64
3/10/2020           int64
3/11/2020           int64
3/12/2020           int64
3/13/2020           int64
3/14/2020           int64
3/15/2020           int64
3/16/2020           int64
3/17/2020           int64
3/18/2020           int64
3/19/2020           int64
3/20/2020           int64
3/21/2020           int64
3/22/2020           int64
3/23/2020           int64
3/24/2020           int64
3/25/2020           int64
3/26/2020           int64
3/27/2020           int64
3/28/2020           int64
3/29/2020           int64
3/30/2020           int64
Length: 80, dtype: object

3253

In [13]:
df_global = pd.read_csv(csse_world)
df_global.head(5)
df_global.fillna(0)
china_df = df_global.loc[]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/22/20,3/23/20,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,40,40,74,84,94,110,110,120,170,174
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,89,104,123,146,174,186,197,212,223,243
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,201,230,264,302,367,409,454,511,584,716
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,113,133,164,188,224,267,308,334,370,376
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,3,3,3,4,4,5,7,7,7

In [ ]:
# merge all into one big dataset